{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="shadow  p-3 mb-5 bg-white rounded container col-3" style="margin-top: 50px">

        {{ form_start(addProfileForm) }}

        {{ form_widget(addProfileForm) }}

        <div class="text-center" style="margin-top: 35px">
            <button type="submit" class="btn btn-primary">Modify profile</button>
        </div>

        {{ form_end(addProfileForm) }}

    </div>

{% endblock %}
