{% extends 'base.html.twig' %}

{% block title %}Add Movie{% endblock %}

{% block body %}


    <div class="shadow  p-3 mb-5 bg-white rounded container col-lg-3 col-sm-1 col-md-5" style="margin-top: 50px">

        {{ form_start(addMovieForm) }}

        {{ form_widget(addMovieForm) }}

        <div class="text-center" style="margin-top: 35px">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

        {{ form_end(addMovieForm) }}

    </div>

{% endblock %}