
###> symfony/framework-bundle ###
/.env
/public/undles/
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
