td,th {
    padding: 20px!important;
    text-align: center;
}
th:hover{
    /*background: #1a1a1a;*/
    color: #1a1a1a;
}
tbody tr:hover{
    background: #d6d6d6!important;
}
.dataTables_wrapper input, .dataTables_wrapper select{
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 30px;
    padding: 5px 10px;
}

#random {
    background: url('http://image.tmdb.org/t/p/w185//btTdmkgIvOi0FFip1sPuZI2oQG6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.fa-star{
    color: #F0CA86;
}