{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
                <div style="margin: 0 auto 20px;">
                    <a href="{{ path("addCategory") }}" class="btn btn-primary">Add a category</a>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table class="table table-striped table-bordered " id="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Libelle</th>
                        <!--<th scope="col">Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.libelle }}</td>
                            <!--<td>
                                <a href="{# {{ path("removeCategory", {'id': category.id}) }} #}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>-->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}
