{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <h2>Not Found</h2>
        </div>
    </div>

{% endblock %}
