{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}

    <div class="shadow  p-3 mb-5 bg-white rounded container col-3" style="margin-top: 50px">



    </div>

{% endblock %}