<div class="shadow  p-3 mb-5 bg-white rounded container col-3" style="margin-top: 50px">

    {{ form_start(registerForm) }}

    {{ form_widget(registerForm) }}

    {{ form_end(registerForm) }}

</div>